@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h5 {
    @apply absolute px-6 duration-200 md:w-52 bottom-4 md:bottom-8 md:px-10 group-hover:scale-110 group-hover:text-black;
  }
}

@layer components {
  .btn {
    @apply px-10 py-2 my-0 font-bold tracking-widest uppercase border-2 border-black font-alata hover:bg-black hover:text-white;
  }
}

.items-container {
  @apply flex flex-col justify-between w-full gap-y-6 text-2xl text-white uppercase md:flex-row md:gap-y-0 md:gap-x-8;
}

.item-gradient {
  @apply absolute top-0 bottom-0 left-0 right-0 bg-gradient-to-b from-transparent to-gray-900 group-hover:from-gray-50 group-hover:to-white group-hover:opacity-70;
}

#hero {
  background-image: url('../images/desktop/image-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 576px) {
  #hero {
    background-image: url('../images/mobile/image-hero.jpg');
    background-position: center;
  }
}

/* hamburger-menu */
.h {
  cursor: pointer;
  position: relative ;
  width: 24px ;
  height: 24px ;
  transition: all 0.25s;
}

.ht, .hm, .hb {
  position: absolute;
  width: 24px ;
  height: 2px ;
  transform: rotate(0);
  transition: all 0.5s;
  top: 0 ;
  left: 0 ;
  background: #fff ;
}

.hm {
  transform: translateY(7px);
}

.hb {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .ht{
  transform: rotate(45deg) translateY(2px) translateX(1px);
}

.open .hm {
  display: none;
}

.open .hb {
  transform: rotate(-45deg) translateY(0.7px) translateX(-1.5px);
}